<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Sentastico</name>
    <version>25002</version>
    <defaultcat>Advanced</defaultcat>
    <type>user</type>
	<ostype>all</ostype>
    <desc>Sentastico is an open-source package installation tool which will quickly and effortlessly copy a wide range of open-source web scripts to your hosting space and then re-direct you to the installer to enable you to personalize your setup! By using Sentastico you save time and bandwidth by not needing to upload large web scripts to your hosting space.</desc>
	<authorname>T.Gates, B.Allen</authorname>
    <authoremail>tgates@sentora.org</authoremail>
    <authorurl>http://www.sentora.org</authorurl>
    <updateurl>http://mach-hosting.tk/repo/sentastico.xml</updateurl>
</module>