<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Zantastico X Admin</name>
    <version>100</version>
    <defaultcat>Administrator</defaultcat>
    <type>user</type>
    <desc>Zantastico X is and Admin backend for the Zantastico X open source package installer.</desc>
<authorname>T.Gates</authorname>
    <authoremail>tgates@zpanelcp.com</authoremail>
    <authorurl>http://www.zpanelcp.com</authorurl>
    <updateurl>http://zppy-repo.mach-hosting.com/zantasticox_admin.xml</updateurl>
</module>
    
