form {  
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 500px; 
}

form fieldset {
  clear: both;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;        
  margin: 0;
}

form fieldset legend { font-size:1.1em; }

form label {
    width:180px;
    float: right;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: right;
}


form fieldset label:first-letter { text-decoration:underline; }

form input, form textarea {
	width:150px;
	margin: 0px 0 0 0px;
}

form select, form option {
    width:150px;
    margin: 0px 0 0 0px;
}

form input#reset { margin-left:0px; }

textarea { overflow: auto; }

form small {
	display: block;
	margin: 0 0 5px 160px;
	padding: 1px 3px;
	font-size: 88%;
}

form .required{font-weight:bold;}

form br { clear:left; }